body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #f4e1c1; /* Light parchment color */
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #ecd9c1; /* Slightly darker parchment color for sidebar */
  color: #5c4024; /* Dark brown text color */
  width: 260px;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu-logo {
  max-width: 30px; /* Adjust the size as needed */
  margin-right: 10px;
}

.sidebar-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #5c4024; /* Dark brown text color */
  display: flex;
  align-items: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar a {
  text-decoration: none;
  color: #5c4024; /* Dark brown text color */
  display: block;
  padding: 5px 0;
}

.sidebar a.active {
  background-color: #cda774; /* Lighter parchment color for active states */
}

.profile-settings {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.profile-settings a {
  text-decoration: none;
  color: #5c4024; /* Dark brown text color */
  margin-right: 10px;
}

main {
  flex: 1;
  padding: 20px;
  background-color: #f4e1c1; /* Light parchment color for main content */
}

/* Add a border and box shadow to mimic a parchment texture */
.container,
.sidebar,
main {
  border: 1px solid #d2b48c; /* Darker parchment color for border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle box shadow for depth */
}

.accent-color {
  color: #8b4513; /* Saddle brown color for accent */
}
